div{
    font-family: Arial, Helvetica, sans-serif;
    margin: none;
    padding: none;
}
.friend, .pic2{
    display: inline-block;
    vertical-align: top;
    
}
.n{
    padding-left: 5px;
    font-weight: bold;
}
.profile{
    
    box-shadow: 0px 0px 8px rgba(0, 0, 0,0.4);
    width: max-content;
    margin-right:10px;
    display: inline-block;
    cursor: pointer;
}
.pic1{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.friends{
    margin: none;
    font-size: small;
    color: gray;
}
p{
    margin: none;
    padding: none;
    line-height: 0px;
}
.pi2{
    width:40px;
    height: 40px;
    object-fit: fill;   
    border-radius: 50%;
}
.p2{
    height: max-content;
    margin-left: 5px;
}
button{
    color: white;
    background-color: rgb(0, 140, 255);
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 3px;
    cursor: pointer;
}
