.googlesearch{
    
    text-align: center;
    margin-top: 56px;

}
.googleimg{
width: 272px;
padding: none;
margin: none;
}
.input{
    padding-left: 20px;
}
.search::placeholder{
    color: rgba(128, 128, 128, 0.534);
}
.search{
    padding-left: 10px;
    padding-top: 10px;
    width: 500px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 30px;
    border-radius: 30px;
    border:none;
    box-shadow: 0px 0px 10px rgba(0, 0,0, 0.1);

}
button{
    border: none;
    padding:10px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow, 0.1s;
}
button:hover{
    box-shadow: 0 0 5px rgba(0, 0,0, 0.1)
}